{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "18.x"
    }
  },
  "ignorePatterns": ["node_modules", "dist", "build", ".eslintrc.js"],
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off"
  }
}
